*.log
.DS_Store
node_modules
dist
.vs
/Pharmacy/bin
/PharmacyLibrary/bin
/Pharmacy/obj
/PharmacyLibrary/obj
/PharmacyIntegrationTests/obj/
/PharmacyUnitTests/obj/
/PharmacyIntegrationTests/bin/
/PharmacyUnitTests/bin/

